/* stylesheet of the page */

body{
    background: url(../img/bd-bg.jpg) repeat-x;
}


/* fix width and set centered horizotally */
.w{
    width: 940px;
    margin: 0 auto;
}

.header{
    /* background-color: #bfa; */
    padding-top: 15px;
    padding-bottom: 35px;
}

.logo{
    margin-left: 15px;
}

.nav{
    float: right;
    margin-top: 35px;
}

.nav li{
    float: left;
    padding: 0 10px 10px;
    border-left: 1px #b6b6b6 dotted;
}

.nav a{
    color: #666;
    font: bold 14px Georgia;
    text-decoration: none;
}

.nav a:hover{
    color: #a1a1a1;
    text-decoration: underline;
}

/* 在chrome浏览器最多支持12px，更小的都显示12px */

.nav p{
    color: #b7b7b7;
    font: 11px tahoma;
}

.banner{
    height: 300px;
    background: url(../img/banner/banner-bg.jpg) no-repeat bottom center;

    /* open a relative position */
    position: relative;
}

.pointerDiv{
    /* open an absolute position (relative to the closet open position element) */
    position: absolute;
    top: 210px;
    left: 750px;
}

.pointerDiv a{
    /* display: inline-block; */
    float: left;

    width: 27px;
    height: 27px;

    margin-left: 4px;
    /* background-color: red; */
    background: url(../img/point1.jpg) no-repeat center;
}

.pointerDiv a:hover{
    background: url(../img/point2.jpg) no-repeat center;
}


.content h1{
    text-align: center;
}