/* stylesheet of the page */

body{
    background: url(../img/bd-bg.jpg) repeat-x;
    height: 3000px;
}

/* 解决高度塌陷问题 */
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}


/* fix width and set centered horizotally */
.w{
    width: 940px;
    margin: 0 auto;
}

.header{
    /* background-color: #bfa; */
    padding-top: 15px;
    padding-bottom: 30px;
}

.logo{
    margin-left: 15px;
}

.nav{
    float: right;
    margin-top: 35px;
}

.nav li{
    float: left;
    padding: 0 10px 10px;
    border-left: 1px #b6b6b6 dotted;
}

.nav a{
    color: #666;
    font: bold 14px Georgia;
    text-decoration: none;
}

.nav a:hover{
    color: #a1a1a1;
    text-decoration: underline;
}

/* 在chrome浏览器最多支持12px，更小的都显示12px */

.nav p{
    color: #b7b7b7;
    font: 11px tahoma;
}

.banner{
    /* height为下面阴影和banner图片高度之和
    下面阴影在css中设为背景图片且是底部居中 */
    height: 300px;
    background: url(../img/banner/banner-bg.jpg) no-repeat bottom center;
    /* background-color: #bfa; */
    /* open a relative position */
    position: relative;
}

.pointerDiv{
    /* open an absolute position (relative to the closet open position element) */
    position: absolute;
    top: 210px;
    left: 750px;
}

.pointerDiv a{
    /* display: inline-block; */
    float: left;

    width: 27px;
    height: 27px;

    margin-left: 4px;
    /* background-color: red; */
    background: url(../img/point1.jpg) no-repeat center;
}

.pointerDiv a:hover{
    background: url(../img/point2.jpg) no-repeat center;
}

/* .content{  
    background-color: red;
} */

.content h1{
    text-align: center;
    font: bold 24px Georgia;

    /* 不选外边距以免传递给父元素 */
    padding: 50px 0 20px 0;
    background: url(../img/line.jpg) no-repeat bottom center;
   
    /* 设置h1 div 和下面 p1 cs uc的距离 */
    margin-bottom: 20px;

}

.content .pl, .content .cs, .content .uc
{
    float: left;
    width: 300px;
    /* height: 100px; */
    /* background-color: yellow; */
}

.content .cs, .contact .co{
    margin: 0 20px;
}

.content h2{
    color: #11719e;
    font: 21px Georgia;
}

.content .p1{
    color: #8c8c8c;
    font: 12px Helvetica;
}

/* 设置图片div */
.content .imgDiv{
    width: 300px;
    /* height: 200px; */
    height: 190px;
    background: url(../img/bg1.jpg) center no-repeat;
    margin: 20px 0;

    /* 内联元素设置水平居中 */
    text-align: center;
    padding-top: 10px;
}

/* 设置p2文字 */
.content .p2{
    height: 92px;
    color: #3e3e3e;
    font: 13px Helvetica;

   padding: 0 10px;
   word-spacing: 2px;
}

.content .lm{
    display: block;
    width: 160px;
    height: 32px;
    background: url(../img/buttonbg1.jpg) no-repeat;
    text-decoration: none;
    color: #016999;
    font: 12px/32px Helvetica;
    /* 首行缩进一个字 */
    text-indent: 1em;
    margin: 0 0 30px 5px;
}

.contact .sc, .contact .co, .contact .nu{
    float: left;
    width: 300px;
    height: 500px;
    background-color: yellow;
}


/* form is inline-block */
.contact .txt{
    width: 284px;
    height: 48px;
    background:url(../img/frame/input.png) no-repeat center;
    background-color: red;
    border: none;
    padding: 0 6px;
}

.contact .tarea{
    width: 284px;
    height: 178px;
    background: url(../img/frame/textarea.png) no-repeat center;
    border: none;
    background-color: blue;
    padding: 0 6px;

    overflow: auto;
}