/* stylesheet of the page */

body{
    background: url(../img/bd-bg.jpg) repeat-x;
    /* height: 3000px; */
}

/* 解决高度塌陷问题 */
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}


/* fix width and set centered horizotally */
.w{
    width: 940px;
    margin: 0 auto;
}

.header{
    /* background-color: #bfa; */
    padding-top: 15px;
    padding-bottom: 30px;
}

.logo{
    margin-left: 15px;
}

.nav{
    float: right;
    margin-top: 35px;
}

.nav li{
    float: left;
    padding: 0 10px 10px;
    border-left: 1px #b6b6b6 dotted;
}

.nav a{
    color: #666;
    font: bold 14px Georgia;
    text-decoration: none;
}

.nav a:hover{
    color: #a1a1a1;
    text-decoration: underline;
}

/* 在chrome浏览器最多支持12px，更小的都显示12px */

.nav p{
    color: #b7b7b7;
    font: 11px tahoma;
}

.banner{
    /* height为下面阴影和banner图片高度之和
    下面阴影在css中设为背景图片且是底部居中 */
    height: 300px;
    background: url(../img/banner/banner-bg.jpg) no-repeat bottom center;
    /* background-color: #bfa; */
    /* open a relative position */
    position: relative;
}

.pointerDiv{
    /* open an absolute position (relative to the closet open position element) */
    position: absolute;
    top: 210px;
    left: 750px;
}

.pointerDiv a{
    /* display: inline-block; */
    float: left;

    width: 27px;
    height: 27px;

    margin-left: 4px;
    /* background-color: red; */
    background: url(../img/point1.jpg) no-repeat center;
}

.pointerDiv a:hover{
    background: url(../img/point2.jpg) no-repeat center;
}

/* .content{  
    background-color: red;
} */

.content h1{
    text-align: center;
    font: bold 24px Georgia;

    /* 不选外边距以免传递给父元素 */
    padding: 50px 0 20px 0;
    background: url(../img/line.jpg) no-repeat bottom center;
   
    /* 设置h1 div 和下面 p1 cs uc的距离 */
    margin-bottom: 20px;

}

.content .pl, .content .cs, .content .uc
{
    float: left;
    width: 300px;
    /* height: 100px; */
    /* background-color: yellow; */
}

.content .cs, .contact .co{
    margin: 0 20px;
}

.content h2{
    color: #11719e;
    font: 21px Georgia;
}

.content .p1{
    color: #8c8c8c;
    font: 12px/14px Helvetica;
}

/* 设置图片div */
.content .imgDiv{
    width: 300px;
    /* height: 200px; */
    height: 190px;
    background: url(../img/bg1.jpg) center no-repeat;
    margin: 20px 0;

    /* 内联元素设置水平居中 */
    text-align: center;
    padding-top: 10px;
}

/* 设置p2文字 */
.content .p2{
    height: 92px;
    color: #3e3e3e;
    font: 13px Helvetica;

   padding: 0 0;
   word-spacing: 2px;
}

.content .lm{
    display: block;
    width: 160px;
    height: 32px;
    background: url(../img/buttonbg1.jpg) no-repeat;
    text-decoration: none;
    color: #016999;
    font: 12px/32px Helvetica;
    /* 首行缩进一个字 */
    text-indent: 1em;
    margin: 0 0 30px 5px;
}

.contact{
    background: url(../img/line.jpg) no-repeat top center;
    /* background-color: #bfa; */
}

.contact .sc, .contact .co, .contact .nu{
    float: left;
    width: 300px;
    /* height: 500px; */

    /* background-color: yellow; */
}


/* form is inline-block */
.contact .txt{
    width: 264px;
    height: 48px;

    /* 行高 居中 */
    line-height: 48px;

    background:url(../img/frame/input.png) no-repeat;

    /* 为IE6解决IE6方框随文字滚动的问题，不能给其他浏览器也设置成fixed（相对于窗口固定） */
    _background-attachement: fixed;

    /* background-color: red; */
    border: none;

    /* 内边距会使整个元素变宽，所以要剪掉相应的width */
    /* 注意背景图片不能设置成center否则会随内边距变化而移动 */
    padding: 0 10px;
    margin: 0 5px 15px;

    font: 15px Arial;
}

.contact .tarea{
    width: 264px;
    height: 158px;
    background: url(../img/frame/textarea.png) no-repeat;
 
     /* 为IE6解决IE6方框随文字滚动的问题，不能给其他浏览器也设置成fixed（相对于窗口固定） */
     _background-attachement: fixed;
 
    border: none;
    /* background-color: blue; */
    padding: 10px;
    margin: 0 5px;

    overflow: auto;
 
    /* 设置文本域不能调整大小 */
    resize: none;

    font: 15px Arial;
}

.contact .btn{
    width: 160px;
    height: 40px;
    background: url(../img/buttonbg2.jpg) no-repeat center;
    
    border: none;

    padding: 0;
    margin: 10px 5px 20px;

    color: white;
    font: 15px Georgia;
    text-align: left;

    /* 缩进 */
    text-indent: 1em;


    /* cursor用来设置鼠标指针的样式 
        默认是auto 浏览器设置的光标
        default是箭头
        pointer是一只手
        crosshair是十字线
        move是可移动十字框
    */
    cursor: pointer;

}

.contact h2{
    color: #444;
    font: 18px/1 georgia;
    border-bottom: 1px dashed #d3d3d3;
    
    padding: 44px 0px 10px;

    margin: 0 5px 15px;
    
}


.sc .p1{
    color: #444;
    font: 12px/14px Helvetica;
    padding: 0 0 5px;
    word-spacing: 2px;
}

.sc .icon{
    /* 消除图标之间的空格 */
    font-size: 0;
}

.sc .icon a{
    margin-right: 4px;
}

.sc .nl{
    /* one line height */
    font: bold 18px/1 "gill sans mt";
    padding: 20px 0 5px;
  
}

.sc .txt{
    margin: 20px 5px 0;
}

.nu img{
    float: left;
    margin-right: 8px;
}

.nu p{
    color: #444;
    font: 12px/14px helvetica;
    height: 60px;

    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.nu .btn{
     /* 修改IE6 最后一个button由text-indent引起的位置移动的bug  */
    _margin-left: -1em;
}

.footer{
    height: 173px;
    background: #333;

    border-top: 10px solid #4c4c4c;
    /* background-color: blue; */
}

.footer a, .footer p{
    color: #999;
    font: 11px Helvetica;
    text-decoration: none;
}

.footer .w{
    /* margin: 18px 23px 0px 8px; 
        不能这么设置，默认的margin: 0 auto;没有了，就不居中了
    */
    padding-top: 18px; 
    /* 不指定水平内边距是避免使父元素宽度被撑大
        故给p元素设外边距
    */
}

.footer p{
    margin-left: 8px;
    margin-right: 23px;
    margin-bottom: 6px;
}

.footer a:hover{
    color: #cccaca;
    text-decoration: underline;
}


/* 
    IE6的双倍边距bug
        在IE6中，当为一个向左浮动的元素设置左外边距
        或者为一个向右浮动的元素设置右外边距时
        这个外边距会设置值的2倍

        对于一个浮动元素来说设置display: inline没有任何意义
        但是该属性可以解决IE6的双倍边距问题
        解决bug用 display: inline;
*/
.footer .copy{
    float: right;
    /* 处理IE6的双倍边距问题 */
    display: inline;
}


/* 为确保文件最小，需要去掉空格和注释
    可以使用特定的压缩工具，如JsCssZip.exe
    生成压缩后的min

    另外可以把所用到的图片整合成一张sprite雪碧图（photoshop）
    注意img标签方式整张引入的不能放入雪碧图
    只能整合背景图片

    然后设置偏移量，如 background: 0 -27px;向上移
*/